* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

p {
    color: #ffffff;
    text-shadow: 2px 2px 2px #00000093;
}

h1 {
    color: #800080;
    font-size: 2.6rem;
    margin-bottom: 25px;
    text-shadow: 0 0 25px #000000;
}

h2 {
    color: #ffffff;
    padding: 6px;
}

h3 {
    color: #29297e;
    text-shadow: 1px 1px #e001fdb6;
    text-transform:uppercase;
    font-weight: bold;
    text-align: left;
}

section {
    margin: 100px auto;
}

figure img {
    width: 100%;
    max-width: 500px;
    height: 250px;
    border-radius: 15px;
}    

span {
    color:#29297e;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform:uppercase;
    text-shadow: 1px 1px 1px #e001fdb6;

}

.banner {
    background-image: url('./image/imagemfundo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    padding-top: 50px;
    border-bottom: 1px solid #800080;
}

.banner .container-banner {
   width: 90%;
   max-width: 700px;
   margin: auto;
   margin-top: 100px;
   text-align: center;
}

.banner .container-banner button {
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    letter-spacing: 4px;
    border-radius: 10px;
    margin-top: 30px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #00000052;
    background: linear-gradient(#e001fd ,#800080, #29297ed7);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #0000019f;
    box-shadow: 0 0 25px #e001fd;
}

.container-conteudo {
    text-align: center;
    width: 90%;
    max-width: 700px;
    color: #ffffff;
}

.container-conteudo .galaxia-eliptica,
.container-conteudo .galaxia-espiral,
.container-conteudo .galaxia-irregular {
    cursor: pointer;
    transition: 0.3s ease;
    background: #000000;
    border-bottom: 3px solid #800080;
    border: 1px solid #800080;
    border-radius: 10px;
    margin-top: 60px;
    padding: 20px;
    box-shadow: 0 0 24px #29297e75;
}

.container-conteudo .galaxia-eliptica:hover,
.container-conteudo .galaxia-espiral:hover,
.container-conteudo .galaxia-irregular:hover {
    transform: scale(1.05);
    border-bottom: 3px solid #e001fd;
}

.container-conteudo div p {
    text-align: justify;
}

.container-conteudo .imagem-da-galaxia {
    color: #ffffff;
    margin-bottom: 15px;
    
}

.secao-galaxia {
    border: 1px solid #800080;
    border-radius: 10px;
    margin-top: 60px;
    padding: 20px;
    box-shadow: 2px 2px #29297eab;
}

#galaxia-no-universo-observavel {
    height: 560px;
    background-size: cover;
    background-image: url('./image/imagemfundo2.jpg');
    background-attachment: fixed;
    border-top: 1px solid #800080;
    border-bottom: 1px solid #800080;
    padding: 200px;
}


#galaxia-no-universo-observavel p {
    color: #ffffff;
    font-weight: 900;
    font-size: 2.4rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #000000d0;
}

.misterios-galaxias {
    padding: 30px;
    text-align: justify;
}

footer {
    border-top: 1px solid #800080;
    background-image: linear-gradient(#ff63ea00, #8000805b);
    text-align: center;
    color: #ffffff;
    padding: 15px;
}

footer p {
    padding-top: 10px;
    color: #fffffffd;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

